@font-face {
    font-family: 'InterThin';
    src: url('../fonts/InterThin.eot');
    src: url('../fonts/InterThin.eot') format('embedded-opentype'),
        url('../fonts/InterThin.woff2') format('woff2'),
        url('../fonts/InterThin.woff') format('woff'),
        url('../fonts/InterThin.ttf') format('truetype'),
        url('../fonts/InterThin.svg#InterThin') format('svg');
}

@font-face {
    font-family: 'InterBold';
    src: url('../fonts/InterBold.eot');
    src: url('../fonts/InterBold.eot') format('embedded-opentype'),
        url('../fonts/InterBold.woff2') format('woff2'),
        url('../fonts/InterBold.woff') format('woff'),
        url('../fonts/InterBold.ttf') format('truetype'),
        url('../fonts/InterBold.svg#InterBold') format('svg');
}

@font-face {
    font-family: 'InterLight';
    src: url('../fonts/InterLight.eot');
    src: url('../fonts/InterLight.eot') format('embedded-opentype'),
        url('../fonts/InterLight.woff2') format('woff2'),
        url('../fonts/InterLight.woff') format('woff'),
        url('../fonts/InterLight.ttf') format('truetype'),
        url('../fonts/InterLight.svg#InterLight') format('svg');
}

@font-face {
    font-family: 'Inter-LightItalic';
    src: url('../fonts/Inter-LightItalic.eot');
    src: url('../fonts/Inter-LightItalic.eot') format('embedded-opentype'),
        /*url('../fonts/Inter-LightItalic.woff2') format('woff2'),*/
        url('../fonts/Inter-LightItalic.woff') format('woff'),
        url('../fonts/Inter-LightItalic.ttf') format('truetype'),
        url('../fonts/Inter-LightItalic.svg#Inter-LightItalic') format('svg');
}

.bookPanel {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 70px;
}

.bookContainer {
    display: flex;
    flex-direction: row;
    width: 70%;
    height: 30vh;
    font-size: 2vh;
    background-color: #ffffff;
    justify-content: space-between;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    /* margin-bottom: 30px;
    margin-top: 30px; */
}

.bookContainer .lbook {
    max-width: 65%;
    display: flex;
    justify-content: center;
}

.bookContainer .infoPanel {
    width: 35%;
}

.basketList button {
    background-color: #012781;
    color: #fff;
    border: none;
    padding: 10px 15px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 14px;
    transition: background-color 0.3s;
}

.basketList button:hover {
    background-color: #0839ab;
}

.bookContainer img {
    height: 50%;
    width: 50%;
}

.basket {
    position: fixed;
    align-self: flex-end;
    background-color: #ffffff;
    top: 70px;
    width: 250px;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    font-size: 12px;
}

.basket h1 {
    margin-top: 10px;
    margin-bottom: 10px;
    padding-left: 10px;
    font-family: 'InterLight';

}

.basketContainer {
    height: 100px;
    width: auto;
    display: flex;
    justify-content: space-between;
    align-items: top;
}

.basketContainer p {
    font-weight: bolder;
    margin-top: 0px;
    padding: 0 10px;
}

.basketContainer img {
    height: 90%;
    width: auto;
}

.noCopies {
    opacity: 25%;
    /* background-color: #d85959; */
}

.menuleft {
    display: flex;
    justify-content: space-between;
}

.menuleft a {
    color: #000;
    /* чорний колір тексту */
    align-items: center;
    display: flex;
    justify-content: center;
}

.basketList {
    display: flex;
    flex-direction: column;
    padding: 0 10px;
}

.basket-row {
    display: flex;
    align-items: center;
}

.basket-row img {
    width: 42px;
    height: 33px;
}