body {
    background-color: white;
}

.logo {
    margin: 0px;
    display: flex;
    justify-content: center;
}

.logo img {
    width: 200px;
    height: auto
}

.login-content {
    display: flex;
    justify-content: space-between;
}

.login-form {
    max-width: 50%;
    padding: 20px;
}

.login-right {
    display: flex;
    flex-direction: column;
    width: 50%;
    align-items: center;
    justify-content: center;
}

.mainPanel {
    margin: 0px;
}

img {
    max-width: 50%;
    height: auto;
}

h1 {
    text-align: center;
    color: #1a1a1a;
    font-family: 'InterBold';
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin: 8px 0;
    font-family: 'InterLight';
    color: #464646;
    font-weight: bold;
    font-size: 14px;
}

form input {
    width: 100%;
    padding: 8px;
    margin-top: 4px;
    box-sizing: border-box;
    font-family: 'InterLight';
}

form input[type="submit"] {
    background-color: #012781;
    color: white;
    padding: 15px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 20px;
    text-transform: uppercase;
    box-sizing: border-box;
    font-family: 'InterBold';
}

form input[type="submit"]:hover {
    background-color: #0839ab;
    transition: 0.4s;
}

.error {
    color: #f42929;
    margin-top: 10px;
    text-align: center;
    box-sizing: border-box;
    font-family: 'InterLight';
    font-weight: bold;
    font-size: 14px;
}

.sign {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'InterLight';
    font-size: 14px;
}

.sign a {
    padding-left: 10px;
    font-family: 'InterBold';
    color: #012781;
}

.sign a:hover {
    color: #0839ab;
    transition: 0.4s;
}

.sign p {
    padding: 0px;
    margin: 0px;
}

.check {
    display: flex;
    font-family: 'InterLight';
}

.check input[type="checkbox"] {
    width: 10%;
}

.check p {
    font-size: 12px;
    padding-left: 15px;
}

.check input[type="checkbox"]:checked {
    background-color: #012781;
}